<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="root">
      <h3>人員列表</h3>
      <button @click="updateMei"></button>
      <ul>
        <!-- <li v-for="p in person" :key="p.id"> -->
        <li v-for="(p, index) in person" :key="p.index">
          {{p.id}}
        </li>
      </ul>

      <h2>汽車</h2>
      <ul>
        <li v-for="(v, k) of car" :key="k">
          {{ k }} -- {{ v }}
        </li>
      </ul>
    </div>
    <script src="../vue.js"></script>
    <script>
    Vue.config.productTip = false
      new Vue({
        el: "#root",
        data: {
          person: [
            {id:'001', age:18, name:'tommy'},
            {id:'002', age:22, name:'emma'},
            {id:'003', age:13, name:'jake'}
          ],
          car: {
            name : '奧迪a8', 
            price : '70萬', 
            color: 'black'
          }
        },
      });
    </script>
  </body>
</html>
