<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="root">
      <ul>
        <!-- <li v-for="p in person" :key="p.id"> -->
        <li v-for="(p, index) in person" :key="p.id">
          {{p.id}} -- {{ p.name }}
        </li>
      </ul>
      <button @click="add">+++</button>
    </div>
    <script src="../vue.js"></script>
    <script>
    Vue.config.productTip = false
      new Vue({
        el: "#root",
        data: {
          person: [
            {id:'001', age:18, name:'tommy'},
            {id:'002', age:22, name:'emma'},
            {id:'003', age:13, name:'jake'}
            
          ]
        },
        methods: {
          add() {
            this.person.unshift({
              id:'004', age:20, name:'tom'
            
          })
          }
        }
      });
    </script>
  </body>
</html>
